button:not(:disabled),
[type='button']:not(:disabled),
[type='submit']:not(:disabled),
[type='reset']:not(:disabled),
input:not([type='checkbox']):not([type='radio']):not([type='range']),
textarea,
select {
  border-radius: 1rem;
}

.shadow-sm,
.shadow,
.shadow-md,
.shadow-lg,
.shadow-xl,
.shadow-2xl,
.hover\:shadow-sm:hover,
.hover\:shadow:hover,
.hover\:shadow-md:hover,
.hover\:shadow-lg:hover,
.hover\:shadow-xl:hover,
.hover\:shadow-2xl:hover {
  box-shadow:
    0 1px 2px 0 rgba(103, 110, 144, 0.1),
    0 2px 2px 0 rgba(103, 110, 144, 0.05),
    0 4px 4px 0 rgba(103, 110, 144, 0.08),
    0 8px 8px 0 rgba(103, 110, 144, 0.05),
    0 16px 40px 1px rgba(103, 110, 144, 0.15) !important;
}
